#questions{
    margin: auto;
    width: 560px;
}
.col-sm{
    max-width: 50%;
    width: 50%;
}
#go{
    margin:auto;
}
.option-btn{
    display: block;
}
#player{
    margin-right:15px;
}
#leaderBoard{
    font-size: larger;
    color: white;
    padding:30px;
    width:100%;
    height:100%;
}